@import "tailwindcss";

/* Pastikan tidak ada spasi aneh di sini */
@theme {
  --variant-dark: selector(.dark);
}

@layer base {
  html, body {
    transition-property: background-color, color;
    transition-duration: 500ms;
  }
}
